.title{
    margin-top: 70px;
    color: #295B82;
    font-size: 52px;
    line-height: 46px;
    text-align: center;
    font-family: Roboto;
}
.sub-title{
    color: #000000D9;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    font-family: Roboto;  
}