.confirm {
    text-align: center;

    .confirm-text {
        margin-top: 34px;
        font-family: Roboto;
        font-size: 40px;
        font-weight: 400;
        line-height: 53px;
        text-align: center;
    }
}

.confirm-buttons {
    margin-top: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}