.task-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content {
    padding-right: 25px;
}

.right-content {
    padding-left: 25px;
    border-left: 1px solid #c4c4c4;

}

.left-content,
.right-content {
    width: calc(50% - 5px);
}

.upload-image {
    margin-top: 15px;
    width: 100%;
}
.error{
    border-color: red !important;
}
input[type="text"],
input[type="checkbox"],
input[type="date"],
textarea {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 2px solid #dadada;
    border-radius: 10px;
    margin-top: 24px;
    outline: none;
    color: #00000080;
    &:focus {
        border-color: #3da2c2 !important;
        transition: 0.2s;
    }
}

input[type="text"],
input[type="date"],
textarea {
    padding: 15px 22px;
}

input[type="file"] {
    display: none;
}

textarea {
    resize: none;
}

.switch-content {
    margin-top: 24px;
}

.status {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 10px;
}