.rs-calendar-table-header-cell{
    background-color: #80C2DD4D;
    margin: 0 10px;
}
.rs-calendar-panel .rs-calendar-table-header-row .rs-calendar-table-header-cell-content{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}